<!DOCTYPE html>
<html>
<head>
    <title>Nextzen Metro Extracts</title>
</head>
<body>
    <h1>Nextzen Metro Extracts</h1>

    {% for region_name, countries in feature_tree.items() %}
    <h2>{{ region_name }}</h2>
    {% for country_name, metros in countries.items() %}
    {% for metro_name, feature in metros.items() %}
    <a href="#{{ feature['id'] }}">{{ metro_name }}, {{ country_name }}</a>
    {% endfor %}
    {% endfor %}
    {% endfor %}

    <hr>

    {% for region_name, countries in feature_tree.items() %}
    <h2><a name="{{ region_name }}">{{ region_name }}</a></h2>
    {% for country_name, metros in countries.items() %}
    <h3><a name="{{ country_name }}">{{ country_name }}</a></h3>
    {% for metro_name, feature in metros.items() %}
    <h4><a name="{{ feature['id'] }}">{{ metro_name }}</a></h4>
    <ul>
        {% for suffix, typename in file_type_infos.items() %}
        {% set finfo = file_infos[feature['id']].get(suffix) %}
        {% if finfo %}
        {% set fsize = finfo.get('size') %}
        {% set flastmod = finfo.get('last_modified').strftime('%Y-%m-%d') %}
        <li><a href="https://s3.amazonaws.com/metro-extracts.nextzen.org/{{ s3_prefix }}{{ feature['id'] }}.{{ suffix }}">{{ typename }}</a> ({{ fsize }} bytes, {{ flastmod }})</li>
        {% else %}
        <li>{{ typename }} (missing?)</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
    {% endfor %}
    {% endfor %}
</body>
</html>
